@model Rewind.Models.Comentarios

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Comentarios</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Utilizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Utilizador.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Serie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Serie.Titulo)
        </dd>
        <dt hidden class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd hidden class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comentario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comentario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estrelas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estrelas)
        </dd>
    </dl>
</div>
<div>
    @if (ViewBag.util == Model.UtilizadoresID && User.Identity.IsAuthenticated)
    {
        <text>
        <a asp-action="Edit" asp-route-id="@Model.ID">Editar</a>|
        </text>
    }
    <a asp-action="Index" asp-route-id="@Model.Serie.ID">Voltar aos comentários</a>
            </div>
